alembic>=1.13
fastapi>=0.104
uvicorn[standard]>=0.24
pydantic>=2.0
pydantic-settings
python-jose[cryptography]>=3.3
passlib[bcrypt]>=1.7
python-multipart>=0.0.6
sqlalchemy>=2.0
sqlalchemy-utils>=0.41
psycopg[binary]>=3.1
python-dotenv>=1.0.0
celery
redis
sentry-sdk
weasyprint
pytest
